#top{
    text-align: center;
    height: 40px;
    width: 100%;
    background-color: #a08b8b;
}
#content{
    font-size: 24px;
    color: white;
}
#form{
    margin: 20px;
}
#mapdisplay{
    margin: 10px 20px;
}